---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import BannerMarquee from "../components/BannerMarquee.astro";
import About from "../components/About.astro";
import Formation from "../components/Formation.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro"; // Import do rodapé final
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <BannerMarquee />
    <About />
    <Formation />
    <Projects />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
